gen_data_dir: "TowerEval-Data-v0.1/data/instructions/5_shot"
eval_data_dir: "TowerEval-Data-v0.1/data/raw_data"
gen_output_dir: "TowerEval-Data-v0.1/generations/5_shot"
eval_output_dir: "TowerEval-Data-v0.1/evaluations/5_shot"
tasks: 
  - name: gec
    subtasks:
      conll14.en:
      fm.de:
      cowsl2h.es:
    metrics:
      errant:
        tokenize_hypothesis: True
      ter:
models:
  - name: gpt-3.5-turbo
    type: open-ai
    arguments:
      model: "gpt-3.5-turbo"
      max_tokens: 1024
      debug: True
      retry_max_attempts: 200
  - name: gpt-4
    type: open-ai
    arguments:
      model: "gpt-4"
      max_tokens: 1024
      debug: True
      retry_max_attempts: 200